[2020-12-22 08:08] a16bitsysop opened #3 "build failure unless build type is release"
Building for alpine linux I get this error (as build type has to be None for alpine)

[code]
https://gitlab.alpinelinux.org/a16bitsysop/aports/-/jobs/277952/raw

If I patch and add "NONE" to the types that sets RELEASE_BUILD

[code]

It compiles as it misses the problem files, but the tools are not compiled now.

https://gitlab.alpinelinux.org/a16bitsysop/aports/-/jobs/277980

I would like to keep

[2020-12-22 08:19] markos commented on #3
is this on aarch64?

[2020-12-22 08:24] a16bitsysop commented on #3
It is the same on aarch64 x86 and x86_64, I tried to patch masked_move.cpp so the include was util/x86/masked_move.h but it still couldn't find it.

[2020-12-22 08:49] markos commented on #3
could you please paste the exact cmake invokation? I can't see it in the logs.

[2020-12-22 08:52] a16bitsysop commented on #3
Here it is:
[code]

Looking at the log again it does actually build hscheck and hsbench, but not hsdump

[code]

[2020-12-22 09:22] markos commented on #3
so, internal unit tests -where the original build failure comes from- are not built at all when doing release builds, so changing the CMAKE_BUILD_TYPE should skip building those and avoid the build failure. However, that still doesn't fix the compiler error. I've fixed it so that it doesn't fail again, will commit in a second.
However, hsdump is only built when DUMP_SUPPORT is enabled. Beware howe

[2020-12-22 09:25] markos commented on #3
Could you check the fix in the branch bugfix/fix-maskedmove-include ?

[2020-12-22 09:29] a16bitsysop commented on #3
Ok thanks will try it.  Didn't know that about hsdump, also didn't notice hscollider.  So will drop hdump and add hscollider.

[2020-12-22 09:55] a16bitsysop commented on #3
With just the header patch for testing (as the release patch would negate it).  It has passed on x86_64 and failed on x86 (aarch64 build is still waiting)

https://gitlab.alpinelinux.org/a16bitsysop/aports/-/jobs/278030/raw

[2020-12-22 09:59] markos commented on #3
Ok, that's different, this is because some intrinsics are missing due to AVX/AVX2 are not available. It can be fixed easily but I wonder if it's worth keeping IA32 support. I don't have a ia32 environment available atm, I'll need to create one and test. But I think this should go in a different ticket.

[2020-12-22 10:10] a16bitsysop commented on #3
Ok will open another ticket, it would be better to fix as upstream still support it.  It built on x86 from intel/hyperscan

[2020-12-22 10:15] a16bitsysop opened #4 "build failure on x86"
Build fails for x86 when building on Alpine Linux, log here:
https://gitlab.alpinelinux.org/a16bitsysop/aports/-/jobs/278030/raw

[code]

[2020-12-22 13:39] a16bitsysop commented on #3
Builds on aarch64 and x86_64 with release patch as well

[2020-12-22 13:39] #3 closed

[2020-12-30 18:00] markos commented on #4
hi, @a16bitsysop, could you please check branch https://github.com/VectorCamp/hyperscan/tree/bugfix/fix-ia32-build? It should fix the x64/IA32 build failures -at least it does on my local Debian i386 environment.

[2020-12-30 20:58] a16bitsysop commented on #4
Yes that fixes it for building as well
https://gitlab.alpinelinux.org/alpine/aports/-/merge_requests/16306/pipelines

[2020-12-30 21:02] a16bitsysop commented on #4
Trying a non release build now

[2020-12-30 22:05] a16bitsysop commented on #4
Yes non release builds works as well thanks, are you going to tag a new release with these fixes?

[2020-12-31 07:52] markos commented on #4
https://github.com/VectorCamp/hyperscan/releases/tag/v5.3.2

[2020-12-31 08:17] a16bitsysop commented on #4
Thanks

[2020-12-31 08:17] #4 closed

[2020-12-31 11:14] a16bitsysop commented on #4
The new tag doesn’t include the masked_move.cpp patch, but it’s not needed for release building.

It will be updated pretty soon on alpine Linux to 5.3.2, have enabled hyperscan for suricata on aarch64 and working on enabling it for rspamd on aarch64

[2021-01-17 08:58] a16bitsysop opened #6 "Merge new release from intel"
There is a new version 5.4.0 from intel now, are you going to merge in the new version?

[2021-01-23 22:14] markos commented on #6
@a16bitsysop yes, it will happen in the following days, I had to finish some ARM optimizations.

[2021-01-24 10:13] a16bitsysop commented on #6
Ok, thanks

[2021-01-24 10:13] #6 closed

[2021-01-26 10:21] a16bitsysop opened #9 "Release tarball has double directory"
When unpacking the source tarball it creates vectorscan-vectorscan-v5.4.0

[2021-01-28 10:06] RoadRunnr opened #10 "build fails when AVX512 is enabled"
Build fails with:

<<PKGBUILDDIR>>/src/util/arch/x86/simd_utils.h:655:16: warning: implicit declaration of function ‘set512_64’; did you mean ‘set2x64’? [-Wimplicit-function-declaration]
  655 |     m512 idx = set512_64(3ULL, 2ULL, 1ULL, 0ULL, 7ULL, 6ULL, 5ULL, 4ULL);

Seems there is a helper missing. Hyperscan 5.4.0 has it.

Full log with further failure here:
https://launchpadlibrarian.net/51999

[2021-02-05 15:44] markos commented on #10
I'm on it and a new 5.4.x hotfix, with other stuff, thanks for the pointer.

[2021-02-05 15:45] markos commented on #9
thanks for the pointer, new hotfix release imminent.

[2021-02-15 11:57] markos commented on #10
Hi @RoadRunnr could you please try https://github.com/VectorCamp/vectorscan/tree/v5.4.1+vectorscan?

[2021-02-15 11:57] markos commented on #9
Hi @a16bitsysop could you please try https://github.com/VectorCamp/vectorscan/tree/v5.4.1+vectorscan?

[2021-02-15 18:15] a16bitsysop commented on #9
@markos Yes it compiles for alpine, but the libs are called `libhs_runtime.so.5.4.0` and `libhs.so.5.4.0`

It looks like they haven't been bumped?

[2021-02-15 18:20] markos commented on #9
sigh, yes, please try v5.4.2+vectorscan instead, sorry about that.

[2021-02-15 18:20] markos commented on #10
forgot to bump versions, try v5.4.2+vectorscan instead?

[2021-02-15 19:05] a16bitsysop commented on #9
Yes thats better, thanks

[2021-02-16 09:25] RoadRunnr commented on #10
Seems to work, my ppa package now builts successful on amd64 and arm64.

[2021-02-16 09:25] #10 closed

[2021-02-16 15:24] #9 closed

[2021-02-17 20:00] a16bitsysop opened #14 "Project name is still hyperscan in CMakeLists.txt"
As the project name is still hyperscan examples are installed into `/usr/share/doc/hyperscan` instead of vectorscan

[2021-04-12 18:06] #14 closed

[2021-04-28 19:35] gliwka opened #21 "ARM Intrinsics don't build on clang"
I'm trying to build vectorscan on an ARM machine using clang (arm64, macOS, M1 chip). Clang compilation works on x86_64, but fails on ARM. The build fails while compiling the NEON intrinsics:

Version (clang -v):
[code]

Compiler output:
[code]

It seems like clang doesn't understand how to inline parameters it expects to be constant.

Maybe some of the abstraction functions for the intrinsics nee

[2021-04-28 19:38] gliwka commented on #21
I also had to comment those lines in CMakeLists.txt, because clang doesn't support the -march=native flag on M1 chips:
[code]

[2021-04-30 16:37] gliwka commented on #21
I've started work on this and will submit a pull request

[2021-05-01 13:38] gliwka commented on #21
https://github.com/VectorCamp/vectorscan/pull/22

[2021-05-14 08:11] markos commented on #21
@gliwka I'm currently doing a rework of the SIMD support, I will tackle the clang issues there, thanks for the heads up! Work in progress, can be seen in branch templates-refactor.

[2021-05-23 11:19] vmurashev opened #23 "Unable to compile by Visual Studio 2017"
Is windows platform supported at all by this fork of intel/hyperscan ?
When I tried to build it by Visual Studio 2017 for x86_64,
a lot of errors generated:
[code]

More then that if to workaround above errors with a couple fixes in files
[code]
than is possible to proceed with compilation, but later build fails anyway with the following errors:
[code]
Please advice

[2021-05-25 14:16] markos commented on #23
@vmurashev Windows support is currently investigated for this fork. We are not certain we will continue to support Windows. Please use the original project instead.

[2021-05-26 04:23] vmurashev commented on #23
I am looking for a fork where from same sources it is possible to build hyperscan for:
- windows x86,x64
- Linux x64
- MacOS x64, arm64

[2021-05-26 09:28] TrevorTaoARM opened #24 "Version comparison between that of Intel Hyperscan"
I see that the latest version of vectorscan is 5.4.2+vectorscan(anything newer?), I am curious here what's the comparable version of Hyperscan of Intel release(https://github.com/intel/hyperscan).

It seems there are some code differences between v5.4.2+vectorscan and the release of v5.4.0 of Intel Hyperscan.
So what's the base release of v5.4.2+vectorscan for which we revised from?

[2021-05-26 11:18] markos commented on #23
@vmurashev I would use the original hyperscan repo for that. As it is, we're probably going to keep support for MacOS, but Windows support is going to be removed entirely, mostly to simplify the codebase and avoid all those #ifdefs. Our focus is on portability between multiple architectures on Linux/Unix-type OSes, in the near future we will also add MacOS/ARM support.

[2021-05-26 11:18] #23 closed

[2021-05-26 11:21] markos commented on #24
@TrevorTaoARM we forked originally from 5.3.0 and then rebased on Intel's 5.4.0, however before we added the +vectorscan suffix, we did some extra changes on top of that, hence the .2. We are working on a major SIMD refactoring and we will probably use a different versioning scheme because of that, but it is not decided yet. Suffice to say, feature-wise and ABI/API-wise, we're totally compatible w

[2021-06-29 11:52] geowor01 opened #42 "Typo."
https://github.com/VectorCamp/vectorscan/blob/fcd59fbb73895ddc0132e99c15911eeda0da5b99/src/util/simd/arch/x86/impl.cpp#L364

[2021-06-29 18:30] geowor01 opened #43 "Z_SHIFT should be 15 for 128 bit SIMD."
https://github.com/VectorCamp/vectorscan/commit/5d9e6a261d025c71265ff1cfd32b09c2af3ad858#r52825356

[2021-06-29 18:31] geowor01 opened #44 "Test for Alignr128c for Intel currently failing."
https://github.com/VectorCamp/vectorscan/commit/a1eaf89f3aba07f0c8bfa1dda7774d61d50d7f2e#r52764543

[2021-06-29 18:54] geowor01 commented on #44
SuperVector's alignr isn't actually being used at the moment though.

[2021-07-06 06:33] markos commented on #42
fixed in https://github.com/VectorCamp/vectorscan/commit/8d666dd464b9cba5eeaa8dac363664cf55f85f0c

[2021-07-06 06:33] #42 closed

[2021-07-06 06:34] markos commented on #43
fixed in https://github.com/VectorCamp/vectorscan/commit/8d666dd464b9cba5eeaa8dac363664cf55f85f0c

[2021-07-06 06:34] #43 closed

[2021-07-06 06:34] markos commented on #44
Fixed in https://github.com/VectorCamp/vectorscan/commit/8d666dd464b9cba5eeaa8dac363664cf55f85f0c

[2021-07-06 06:34] #44 closed

[2021-07-06 06:34] #24 closed

[2021-08-09 14:13] liangxwa01 opened #59 "shuftiExec() and truffleExec() are vectorscan code hot spot for Snort3 on arm"
Vectorscan version:  **v5.4.2+vectorscan**
Hyperscan version: **v5.4.2**

When Snort3 inspects one .pcap packets file with same configuration, the vectorscan module profiling result on **arm** (around 2900 milliseconds) is almost twice as much as hyperscan profiling result on **x86** (around 1600 milliseconds). From the perf analysis result, shuftiExec() and truffleExec() are vectorscan code hot s

[2021-08-11 16:03] markos commented on #59
@liangxwa01, I see you are trying v5.4.2+vectorscan revision, could you please try current develop branch? Or could you provide a way to reproduce this with snort3?

[2021-08-12 02:26] liangxwa01 commented on #59
Thanks @markos . Let me switch to the develop branch and try it firstly.

[2021-08-12 06:51] markos commented on #59
@liangxwa01 sigh, yes, you need to add -DOPTIMISE=on -DCMAKE_BUILD_TYPE=Release. OPTIMISE will be removed in a next commit and optimized paths will be enabled for Release mode automatically.

[2021-08-12 08:40] liangxwa01 commented on #59
@markos , with -DOPTIMISE=on -DCMAKE_BUILD_TYPE=Release, libhs* performance from develop branch is similar as original v5.4.2+vectorscan. shuftiExecReal() and truffleExecReal() are still code hot spots on arm. Any further thoughts?  Setting up Snort3 is a bit complicated. Do you have an arm server running ubuntu 20.04?

![arm_hs_dev](https://user-images.githubusercontent.com/87638870/129166152-6af

[2021-08-12 08:56] liangxwa01 commented on #59
@markos Sure.

Annotate shuftiExecReal<(unsigned short)16> :
![arm_hs_dev1](https://user-images.githubusercontent.com/87638870/129168444-38b00239-505e-4962-8a6a-125355176267.PNG)

Annotate truffleExecReal<(unsigned short)16> :
![arm_hs_dev1](https://user-images.githubusercontent.com/87638870/129168678-907dff93-b091-419e-9f41-d42eb567b77b.PNG)

Do these help?

[2021-08-12 09:00] markos commented on #59
@liangxwa01 yes, a lot, I will investigate immediately. Thanks

[2021-08-12 12:20] markos commented on #59
@liangxwa01 ok is the main for loop in both Shufti/Truffle, it appears memory prefetching is not having the same effect on ARM, causing a stall waiting for the next data to be loaded to a vector, probably the stride needs to be different, I'll experiment a bit more with this.

[2021-08-13 01:56] liangxwa01 commented on #59
@markos thanks for the update. Feel free to let me know if I can help try something.

[2021-08-18 08:32] liangxwa01 commented on #59
@markos any progress for this issue? Thanks.

[2021-08-30 16:04] tekkenly opened #61 "can not build on armv7"
I'm trying to build using armv7 gcc, found these errors. looks like some api are only available under armv8. Is it possible to make them armv7 compatible?

[code]

[2021-08-30 16:08] markos commented on #61
hi @tekkenly armv7 support is still not decided, I have enough armv7 hardware here so it's possible it will happen, but at the moment focus is on armv8 hardware.

[2021-10-07 06:55] a16bitsysop opened #66 "legal instruction on startup when running rspamd on aarch on Alpine Linux"
It ran fine in Alpine 3.14 when it was first released, but some change led to this error.  I originally could not stop it.

It worked on Alpine Edge at that time, now the same issue is happening on Edge.

It does not create a core when it crashes like this, the log output is:

[code]

There is more info here:
https://gitlab.alpinelinux.org/alpine/aports/-/issues/12822

Now if I disable vectorscan

[2021-10-07 07:04] markos commented on #66
@a16bitsysop I am unfamiliar with rspamd. Could you give some more info? Would it be possible for you to compile it in debug mode (CMAKE_BUILD_TARGET=Debug) and run it inside/attach to gdb to see where it fails?

[2021-10-07 19:50] markos commented on #66
Ok, this is a strange result though and it shows that the illegal instruction is executed inside libcrypto. Could you do a backtrace so that at least we know which function calls it?

[2021-10-07 20:02] a16bitsysop commented on #66
I am using a rockchip rk3399 platform, if you have docker you can do:

`docker container run -it --rm alpine:edge`

[code]
Or start with gdb

[2021-10-07 20:04] markos commented on #66
ok, thanks I will investigate this as well. I'll let you know

[2021-10-09 18:45] a16bitsysop commented on #66
I think I have found the reason, the aarch64 alpine build was done with -march=native as that is the default.

I guess the aarch64 build servers have been upgraded to a newer cpu arch so I am changing to -march=armv8-a

[2021-10-11 09:19] #66 closed, assigned to nobody

[2021-10-25 12:52] niyue opened #70 "macOS support"
Is there any chance we could support building/installing `vectorscan` under macOS?

hyperscan supports building the project under macOS using clang, and many developers use macOS as their dev machine, but for this project, it seems hard coded to use gcc/Linux, which makes it not easy to get people to start using it.

[2021-10-30 15:31] a16bitsysop opened #71 "Version was not bumped for 5.4.4"
The library name is still 5.4.3

[2021-10-30 15:32] markos commented on #71
Indeed, I rushed that one, I'm now preparing 5.4.5 with a few more fixes, apologies.

[2021-10-30 15:34] a16bitsysop commented on #71
Okay, I can patch it.

[2021-10-30 16:43] #71 closed

[2021-11-01 13:48] markos commented on #59
@liangxwa01 Is it ok to close this issue for now?

[2021-11-01 13:50] markos opened #72 "Add Debian packaging"
Adding a few issues to keep track of things to do. This one is obvious and should allow Vectorscan to be used as a drop-in replacement in Debian-based distributions.

[2021-11-01 13:53] markos opened #73 "Add new architecture support: ppc64le VSX"
Initial target only 64-bit little endian, on Power9.

[2021-11-01 13:53] markos opened #74 "Add new architecture support: RISC-V"
When hardware becomes available.

[2021-11-01 13:56] markos opened #75 "Refactor NFA search engines around SuperVector library"
Refactor NFA search engines:
Shufti: DONE
Truffle: DONE
Vermicelli: WIP
McSheng: TODO
McCellan: TODO
Limex: TODO
Sheng: TODO

[2021-11-01 13:57] markos opened #76 "Optimize/Refactor FDR & Teddy"

[2021-11-02 05:49] liangxwa01 commented on #59
@markos yes, you can close it. Thanks.

[2021-11-03 09:52] #59 closed

[2021-11-15 08:13] markos commented on #75
Vermicelli refactored, PR #78

[2021-11-25 16:40] markos commented on #73
Closed in #79.

[2021-11-25 16:40] #73 closed

[2021-12-07 20:17] markos commented on #21
Clang support has been added in #81 for all platforms! :)

[2021-12-07 20:17] #21 closed

[2021-12-11 23:13] markos commented on #70
MacOS support (at least for M1) has been added in #82

[2021-12-11 23:13] #70 closed

[2021-12-19 20:39] istiak101 opened #83 "Support for PCRE2"
While building rpm with pcre2-devel on RHEL based distro
`-- Checking for module 'libpcre>=8.41'
--   Package 'libpcre', required by 'virtual:world', not found
-- PCRE version 8.41 or above not found
-- PCRE 8.41 or above not found`

but on older pcre-devel it detects pcre correctly
`-- Checking for module 'libpcre>=8.41'
--   Found libpcre, version 8.42
-- PCRE version 8.41 or above`

Is it possi

[2022-01-05 20:16] epot opened #84 "cannot build on apple silicon"
I am trying to compile the project on my mac.
I did the following steps:

[code]

and I am getting:

[code]

Any change you know what could be missing so that I can update the doc?

[2022-01-06 10:19] markos commented on #84
Hi @epot , this is what I have on my Mac Mini M1:

[code]

[2022-01-06 10:33] epot commented on #84
No need to apologize :).

I installed what I did not have (like libpthread-stubs), but it's still failing:
[code]

[2022-01-06 10:40] epot commented on #84
I suspect the cmakelists files are not looking into what is installed by brew

[2022-01-06 11:54] markos commented on #84
Make sure you also have pkg-config installed.

[2022-01-06 12:19] epot commented on #84
Yes I have everything you put above.

[2022-01-10 10:59] epot commented on #84
Anything you think I could try @markos ?

[2022-01-10 11:02] markos commented on #84
@epot I'm working on some instructions and a way to make mac builds a bit more robust, please wait a couple of days, I'm working on the new release now and this is one of the key points.

[2022-01-10 11:05] epot commented on #84
Cool thanks!

[2022-01-25 08:30] a16bitsysop opened #88 "Test failure on x86_64 with version 5.4.6 on alpine linux"
I initially tried the options from the Debian branch, which passed on the alpine ci but failed on the builder.

The builder does not have avx2 so I changed `-DBUILD_AVX2=on` To off, but the same test failed

[code]

so I changed back to -march=core2, which says tuning for sse4.2 but fails the same

https://gitlab.alpinelinux.org/alpine/aports/-/issues/13470

[2022-01-25 09:06] markos commented on #88
Hi, if you're building with FAT_RUNTIME=on it should not matter if the builder has no AVX2/AVX512 just to compile the library. However, there is no point building a fat runtime only with SSE4.2. The library should run on any system and autodetect the right engine to use. However to run the tests with FAT_RUNTIME you should have at least AVX2 (it is auto-enabled when FAT_RUNTIME is set to on. In an

[2022-01-25 09:15] markos commented on #83
Hi, a migration to the new library should be done, it's in the TODO list. Will close this ticket when the migration is done. Apologies for the inconvenience.

[2022-01-25 09:18] a16bitsysop commented on #88
Okay, will build a fat runtime and disable the failing test

[2022-01-25 09:19] markos commented on #84
wait, just realized, is this an Intel Mac? Support was added for the M1 Macs not the Intel ones. It should not be hard to add, but I have no way to support it.

[2022-01-25 09:29] epot commented on #84
Nope that's a m1 pro :)

[2022-01-25 09:57] markos commented on #84
ok, I am trying again. First checkout the latest official release,
[code]

And here is the output of brew:
[code]

and in a directory build-release:
[code]

[2022-01-25 10:04] epot commented on #84
For some reason, it does not find the correct sqlite version:

[code]

but it does not complain, the cmake works successfully.

[2022-01-25 10:06] epot commented on #84
The build was successful! Thanks a lot!

[2022-01-25 10:09] markos commented on #84
Great! I will close the issue if that is ok then.

[2022-01-25 10:10] epot commented on #84
yes sounds good :)

[2022-01-25 10:10] #72 closed

[2022-01-25 21:52] a16bitsysop commented on #88
It worked with disabling the one test with a fat runtime and same options as Debian branch, thanks.

[2022-01-25 21:52] #88 closed

[2022-01-30 11:52] a16bitsysop opened #89 "building with clang for alpine fails on x86_64 and x86 with linking errors"
I tried building with clang as gcc tunes too much for arm64 so it fails at runtime with rspamd.

When attempting to build with clang 12.0.1 it also has lots of nm errors for x86_86 and x86  finding glibc:

[code]

Then at the end it has lots of linker errors, aarch64 compiles fine with clang.

https://gitlab.alpinelinux.org/a16bitsysop/aports/-/jobs/611687

When using gcc 11.2.1 on arm64 (https://

[2022-02-12 22:08] a16bitsysop commented on #89
libmusl does not support ifunc, it is disabled in gcc for musl but it is still enabled in clang

[2022-02-13 10:41] markos commented on #89
ifunc is an important feature necessary for fat runtime to work. If musl does not support this, then you will have to disable fat runtime for this platform.

[2022-02-13 10:59] a16bitsysop commented on #89
Yes I have created a patch to disable.  I had several goes at re doing the FAT_RUNTIME logic in CMakeLists.txt, as currently if `FAT_RUNTIME=OFF` is used it is enabled anyway if `FAT_RUNTIME_REQUISITES` is true.

So if you compile with a compiler that passes this test FAT_RUNTIME cannot be disabled without patching.

I couldn’t get it to work with the dependant option and made the opposite happen

[2022-02-16 00:36] danlark1 opened #91 "Sanitizers fail a lot, known?"
Hi, we decided to run ASAN sanitizers with vectorscan and it fails in various places

Is that a known issue? I believe we tested hyperscan and tests were generally fine, however, with some rewrites it's hard to say what changed

As an example:

[code]

[2022-02-16 00:47] danlark1 commented on #91
A couple more

[code]

[2022-02-16 07:40] markos commented on #91
Thank you, these are really helpful, I was planning to add ASAN myself but it seems there is important reason to do that sooner rather than later. I am not sure these are false positives, so will need to investigate further.

[2022-03-15 15:43] ggardet opened #95 "aarch64 and ppc64le: error: narrowing conversion of 'XYZ' from 'int' to 'char' [-Wnarrowing]"
Building vectorscan 5.4.6 fails with GCC11 on openSUSE Tumbleweed aarch64 with:
[code]

[2022-03-15 15:45] markos commented on #95
hi, thanks for the report, could you please point me to a full log?

[2022-03-15 15:57] ggardet commented on #95
Same failure on ppc64le: https://paste.opensuse.org/view/raw/78160932

[2022-03-15 16:00] markos commented on #95
Thank you, I will test with gcc11 to reproduce. I plan to have a new release in the next days fixing this and other issues.

[2022-03-15 16:01] ggardet commented on #95
aarch64 log: https://paste.opensuse.org/view/raw/38678245

[2022-03-21 10:40] markos commented on #95
@ggardet I have tried to reproduce this on a Debian/Ubuntu system with gcc-11 and I could not, it compiles fine on both platforms. I am suspecting ragel package as this is used to create Parser.cpp, I see you are using ragel 7.0.4 while Debian still uses 6.10. Out of curiosity could you attach the created Parser.cpp file, so that I can compare?

[2022-03-23 07:51] ggardet commented on #95
Here is the file `build/src/parser/Parser.cpp`: https://paste.opensuse.org/14834562

[2022-03-23 09:48] markos commented on #95
Ok, I see the problem, there is a `_regex_trans_keys[]` array which ragel 6.10 defines as `static const short`, but ragel 7.10 defines it as `static const char` leading to a narrowing warning/error. I will have to look at this further, but this doesn't look like a bug in vectorscan. If you have the option to fallback to ragel 6.10, I'd suggest that for now until this is resolved.

[2022-03-23 09:50] ggardet commented on #95
Unfortunately, I cannot switch back to ragel 6.10.

[2022-04-03 07:47] windowsair opened #96 "msvc toolchain support?"
The cmake function `CHECK_C_SOURCE_COMPILES` has poor support for msvc, but it seems to be rarely documented anywhere.

The current status is that we will fail on the `arch.cmake` check. I'm not sure if I need to change more than that.

[2022-04-03 07:49] markos commented on #96
I am sorry, Windows/MSVC support has been removed as unsupported. I would suggest you try the original Hyperscan project.

[2022-04-03 07:49] #96 closed

[2022-04-03 07:50] windowsair commented on #96
Oh, that's a shame, I would have liked to cross more platforms anyway.

[2022-04-04 17:27] yangzhang21 opened #97 "[question] install vectorscan package"
@markos do we support install package through apt-get or we have to build the package on local?
for hyperscan we run `apt-get install -y libhyperscan5` command. do we have something similar for vectorscan?
thanks.

[2022-04-04 17:29] markos commented on #97
@yangzhang21 Hi, it's already in Debian/Ubuntu: https://tracker.debian.org/pkg/vectorscan :)

[2022-04-04 18:07] yangzhang21 commented on #97
excellent. thanks! @markos

[2022-04-04 18:36] #97 closed

[2022-04-05 17:13] yangzhang21 commented on #97
@markos , to follow up, if i run `apt-get install -y libvectorscan5` on a ubuntu machine, i get this error ` Unable to locate package libvectorscan5`, any suggestion?

[2022-04-05 17:19] markos commented on #97
it should be in the next release: https://launchpad.net/ubuntu/+source/vectorscan

[2022-04-05 17:21] yangzhang21 commented on #97
any timeline estimate? :)

[2022-04-05 17:31] markos commented on #97
you'd have to ask Canonical about that :)

[2022-04-07 10:22] necuil opened #98 "the actual type of char is different on different platforms"
On android devices, char is unsigned, unlike PC. In the function unique_ptr<Component> parse(const char *ptr, ParseMode &globalMode), it assigns the content of each byte to a variable of type short by accessing a char pointer. On android devices, this step can have unexpected results. So it should be int8_t not char.
<img width="1875" alt="16492300306567" src="https://user-images.githubusercontent

[2022-04-07 10:37] necuil commented on #61
You can temporarily compile and use x86 source code on armv7 through sse2neon (https://github.com/DLTcollab/sse2neon), and all test cases have passed successfully on my android device. It should be noted that the thumb instruction should be turned off, otherwise it will cause SIGBUS

[2022-04-07 10:40] markos commented on #98
is this 32-bit arm or 64-bit arm? This is not a bad suggestion, I would not mind checking such a PR if you would be willing to submit one, but at the moment I cannot commit to working on this, as Android is not within the supported platforms yet. In fact, I could not think of a usecase for Android until now :)

[2022-04-07 10:43] necuil commented on #98
both 32-bit arm and 64-bit arm

[2022-04-07 10:43] markos commented on #61
I will not add yet another emulation library as a dependency to Vectorscan, Arm support is already included anyway. Arm 32-bit support is probably not going to happen soon, but it's on the horizon. It will however stay on Linux/arm and not Android.

[2022-04-07 10:57] markos commented on #61
if it's only that difference, it's makes it easier to include the change, but still it will be an unsupported platform, we do not have the resources to support Android as well.

[2022-04-08 17:17] Palkovsky opened #99 "Different behavior on x64 and aarch64"
I noticed inconsitent matching behavior between x64 and aarch64 for certain regex and input.

## Setup
Machine 1 (x64):
[code]

Machine 2 (aarch64) - QEMU Cortex-A72:
[code]

## Version
Tested with vectorscan build from `master` and from release `5.4.6` - both exhibit same behavior.

## Test program
I compile it using g++.
[code]

## The problem
When I run the program on x64 the `input` is success

[2022-04-08 17:26] markos commented on #99
There were some errors caught with ASAN and there is a pending PR, these mostly affect small sizes. These will soon be merged and new release will be made, however the truth is that x86 (32-bit) is not really tested as thoroughly as 64-bit.

[2022-04-08 17:44] Palkovsky commented on #99
Thank you for the quick answer! I'll rebuild vectorscan from the PR branch on Monday and will let you know if it fixes the problem.

[2022-04-12 09:17] estebanpw opened #100 "Unexpected behavior in aarch64"
Hello,

First, thank you for taking the time to make arm support possible :)

Second, I have found a case where vectorscan reports a false positive match on ARM aarch64. The same input does not produce a false positive in the original hyperscan on x64.

I have isolated a very small reproducible example with 2 input regexes and a couple of bytes of corpus text. The text that is scanned is:
`xxxxxxx

[2022-04-12 16:01] Palkovsky commented on #99
I have locally merged the [PR](https://github.com/VectorCamp/vectorscan/pull/93) to `develop` branch and rebuilt vectorscan off it. It seems that the issue persists.

[2022-04-12 16:27] markos commented on #99
Thank you for testing that. It seems I will have to build a minimal test case around that and pinpoint what exactly triggers the problem for arm.

[2022-04-13 14:07] Palkovsky commented on #99
Thank you! Please let me know if you manage to reproduce it on your side.

[2022-04-14 23:20] danlark1 commented on #100
After https://github.com/VectorCamp/vectorscan/pull/93 I can't reproduce the problem on aarch64

[2022-04-15 00:08] danlark1 commented on #99
The problem is movemask128 is incorrectly implemented on ARM, i.e. does not match `_mm_shuffle_epi8` semantics but vectorscan/src/rose/program_runtime.c:1470 does not assume that

[code]

After https://github.com/VectorCamp/vectorscan/pull/101/files, the issue goes away

[2022-04-15 15:12] Palkovsky commented on #99
I've tested the patch and it apears that the problem is solved. Thank you very much for it!

[2022-04-18 08:09] markos commented on #89
Merged #94, so closing this.

[2022-04-18 08:09] #89 closed

[2022-04-18 08:11] markos commented on #91
Merged #93 so closing this.

[2022-04-18 08:11] #91 closed

[2022-04-18 17:04] markos commented on #95
Ok, this is strange, I created an environment with debian testing on ppc64le, installed latest ragel (git checkout) with gcc 11 and I could not duplicate the error.
[code]
Building the package on arm64 right now to make sure. I don't know if this is something that has perhaps been fixed in ragel latest master, but would be worth a shot, could you try to check latest ragel on your end?

[2022-04-18 17:56] markos commented on #99
Closed with #102

[2022-04-18 17:56] #99 closed

[2022-04-18 17:57] markos commented on #100
Closed with #102

[2022-04-18 17:57] #100 closed

[2022-04-20 22:21] vmurashev commented on #100
@markos, could I please kindly ask,
May it happen that this fix is important enough to release 5.4.7 ?

[2022-04-21 07:39] markos commented on #100
@vmurashev I'm working on fixing #95 as well for 5.4.7, if that does not happen soon, expect 5.4.7 on Monday. :)

[2022-05-06 15:00] istiak101 commented on #95
I am having the same issue with GCC 9 and 10. I compiled latest ragel(7.0.4 - source download from colm.net) and colm(0.14.7) to see if that would fix this. Also tried with GCC 11. That gives another bug. I will give another pass with ragel stable(6.10) just in case.

GCC 10 build log [https://pastebin.com/7UxfaDMc](url)
Parser.cpp [https://pastebin.com/FCfiYWhz](url)

My system is Qemu Cortex A72

[2022-05-06 15:12] mddirba opened #106 "vectorscan/5.4.7 fails to enable SVE2 with gcc 10.3.0"
The main issue is that CMakeLists.txt is appending flags for march that are already in the flag list (namely +sve2 and +sve2-bitperm).  The second issue is the attempt to set mtune to be the same as march which does not work for aarch64.

# git status
HEAD detached at vectorscan/5.4.7
nothing to commit, working tree clean

# /usr/bin/cmake --prefix=/usr/local -DBUILD_SVE2=1 -DBUILD_SVE2_BITPERM=1

[2022-05-06 15:15] mddirba commented on #106
My naive recommendation is just to remove the code adding the flags, as well as failing the build if SVE2 was requested but it is not available.

# git diff
diff --git a/CMakeLists.txt b/CMakeLists.txt
index cb4ba80..30a4321 100644
--- a/CMakeLists.txt
+++ b/CMakeLists.txt
@@ -228,16 +228,6 @@ if (ARCH_IA32 OR ARCH_X86_64)
     endif()
 endif()

-if (ARCH_AARCH64)
-    if (BUILD_SVE2_BITPERM)
-

[2022-05-06 15:22] mddirba commented on #106
The third issue is that the march flag is not checked after the new flags are appended and the failure appears to be from the sqlite version check.

[2022-05-06 16:48] markos commented on #106
@mddirba right, this must be on actual hardware, my tests have been only on qemu, where SVE2 autodetection works as I'm building it regularly. I'm not entirely happy with features autodetection in general and I would be more than happy to replace it with something more robust. I will try your suggestion and will probably have a new release soon.

[2022-05-06 17:33] markos commented on #95
@istiak101 , @ggardet I just tried again on debian sid arm64, using colm+ragel from latest git and gcc 11 and it compiled without any issues whatsoever. Could you please try latest git colm+ragel and not the tarballs? The steps I took were the following:

[code]
I had to fix some paths in the Makefile.am for ragel -basically add -I$(top_srcdir)/src in the $(COLM_BIN) paths- but after that it seems

[2022-05-18 20:53] jlinton opened #107 "FAT_RUNTIME, shared library only builds, and various other distro related requirements."
I've been looking at packaging this project on fedora/rhel/epel, and it seems many of the x86 options in place for distro's (hyperscan is part of fedora/etc) don't work on aarch64/ppc. Beyond what others have noted about the signed/unsigned char/colm issues:

For starters the expectation is that something like the FAT_RUNTIME option in the makefile generates binaries with a baseline (say armv-8a,

[2022-05-19 09:31] markos commented on #107
first of all, thank you for your packaging effort to include Vectorscan in RH distros. Now to answer your points.
FAT_RUNTIME is almost irrelevant in non-x86 platforms. On x86, there are many SIMD engines available, but there is no guarantee that the newer revision will perform better than the previous, eg AVX512 is not necessarily faster than AVX2 in some cases. So a way to choose the best at run

[2022-05-19 14:54] jlinton commented on #107
The system compiler on RHEL8 is GCC8 (released almost exactly 4 years ago), and it has extended support until at least 2031. That was the most recent RHEL/rocky/alma/centos Linux version until the RHEL9 GA yesterday. So, it is the most common RHEL/etc install on !x86 architectures. For x86, RHEL6 and 7 are still supported "LTS" distros and they utilize even older system compilers, although it is p

[2022-05-19 15:06] markos commented on #107
Ok, I didn't realize RHEL have such huge lifespans. I do understand the importance of having software installable in the most popular release, so what I can do is promise to look about lowering the C++ standard or at least allow fallbacks.

Now revisiting static libraries, you misunderstood me, Debian does *not* easily allow static libraries to be used as dependencies to other packages. But it doe

[2022-06-01 08:28] leeyiw opened #109 "Why vectorscan require GCC9+ while hyperscan require only GCC4.8?"
I'm compiling vectorscan with GCC6.5 and got this error:
[code]

it's weird while hyperscan is supporting GCC4.8 and vectorscan raise version requirements to GCC9+ with [this commit](https://github.com/VectorCamp/vectorscan/commit/1f4143de81fab6619a44aa6ae175e1cec2e51992).

Anyone would explain this?

[2022-06-01 09:28] #109 closed

[2022-06-04 17:05] istiak101 commented on #107
On RHEL/Alma/Rocky 8 I had to use gcc-toolset-10 from Appstream. Other than that also had to build Ragel & Colm as the packages from EPEL contained bugs. I am not sure about EPEL's policy to build anything from Appstream gcc-toolset.

[code]

[code]

[2022-06-04 17:35] istiak101 commented on #97
@yangzhang21 available in Ubuntu 22.04 and later in universe repository.

[2022-06-05 04:42] yangzhang21 commented on #97
thanks!

[2022-06-12 15:45] xiaokang opened #110 "'Illegal instruction' error on x86_64 CentOS 7.9"
I got a error 'Illegal instruction' to run unit test and example on x86_64 CentOS 7.9. It's appreciated to get help from the community.

**build**

wget https://github.com/VectorCamp/vectorscan/archive/refs/tags/vectorscan/5.4.7.zip
unzip 5.4.7.zip
cd vectorscan-vectorscan-5.4.7
mkdir build
cd build
PATH=$RAGEL_PATH:$PATH cmake -DBOOST_ROOT=$BOOST_SOURCE ..
make

**run**

./bin/unit-hyperscan
Ille

[2022-06-12 16:14] xiaokang commented on #110
I have tried version 5.4.6 and got the same error. I also tried original hyperscan 5.4.0 and it's ok.

[2022-06-12 19:26] markos commented on #110
Hi, could you please send the cmake output? it would help to know what is the misconfiguration here. My guess is that AVX512 is auto-enabled, but the AMD chips don't support it hence the SIGILL.

[2022-06-13 00:38] xiaokang commented on #110
@markos , thanks for you help!

The cmake output is as bellow:

CMake Deprecation Warning at CMakeLists.txt:1 (cmake_minimum_required):
  Compatibility with CMake < 2.8.12 will be removed from a future version of
  CMake.

  Update the VERSION argument <min> value or use a ...<max> suffix to tell
  CMake that the project does not need compatibility with older versions.

-- The C compiler identific

[2022-06-13 11:31] markos commented on #110
ok, so it's not what I thought, AVX512 is not enabled, would you mind running a debug version of the failing binary inside gdb and telling me where it fails?

[2022-06-19 14:16] rmharris opened #111 "Building fails on macos/x64 with 'mktemp: illegal option -- p'"
Building 73695e419c27af7fe2a099c7aa57931cc02aea5d on x64 macos 12.4 (Monterey) fails with the default build instructions, e.g.
[code]
macos's `mktemp` has the following options:
[code]

[2022-06-20 11:14] danlark1 opened #112 "Port recent fixes from hyperscan"
Hyperscan engineers provided some critical fixes into their develop branch, let's port them https://github.com/intel/hyperscan/commits/develop

[2022-06-20 11:16] markos commented on #112
hi, working on this myself, should be done in the next days along with some other fixes.

[2022-07-05 16:03] ggardet commented on #95
Backporting
[code]
to `colm` package fixed the issue.

[2022-07-05 16:03] #95 closed

[2022-07-05 16:06] ggardet opened #114 "Build fails with glibc >= 2.34"
Build fails with glibc >= 2.34 with:
[code]
This was found on openSUSE Tumbleweed aarch64.

[2022-07-06 07:29] markos commented on #114
This is the case with original hyperscan as well. Working on backporting a few fixes from upstream at the moment.

[2022-07-19 07:09] xiaokang commented on #110
@markos What I mean is that for the first time run cmake and make the error appears and for the second time the error disappears. The difference between the first time and second time is reproduced in my env.

[2022-07-22 21:00] rmharris commented on #111
I hadn't realised that macos/x86 is unsupported (out of interest, is that documented anywhere?) and am happy to close this issue if that's the case.

For the record, running cmake with FAT_RUNTIME=off worked.

[2022-08-26 17:34] liquidaty commented on #111
Would it work to simply change cmake/build_wrapper.sh by replacing `mktemp -p /tmp ...` with `mktemp /tmp/...`?

[2022-08-27 19:51] liquidaty opened #117 "build with mingw-w64?"
It would be great if this fork supported compilation with mingw-w64.

UPDATE: With some minor modifications, we've managed to compile simplegrep.exe on OSX+mingw-w64. This requires a minor change in src/util/alloc.cpp to use `__mingw_aligned_malloc()` instead of `posix_memalign()` and `__mingw_aligned_free()` instead of `free()` in `aligned_free_internal`.

Will you consider incorporating these ch

[2022-08-29 11:37] markos commented on #117
@liquidaty hi, I would suggest you try the original project for OSX/Intel platform. While it should be easy to get vectorscan working on this platform, we don't have the hardware and don't intend to support it. However, if the PR is trivial and non-intrusive -ie it doesn't break things for other platforms and is zero/low-cost on maintainance, we would be open to merge it.

[2022-08-30 00:26] liquidaty commented on #117
@markos thank you! I appreciate that you will consider it and will send a PR shortly

[2022-08-30 18:42] markos commented on #111
Since this was solved with FAT_RUNTIME=off on MacOS X/Intel, I am closing this issue. In the near future I will create a wiki page with useful information like this, as you note, it's not documented anywhere, but it will have to wait a bit.

[2022-08-30 18:42] #111 closed

[2022-08-31 16:29] abondarev84 commented on #106
any updates?

[2022-08-31 16:42] markos commented on #106
Hi, unfortunately SVE2 support will not change soon, but we will get a Graviton3 system soon so such problems should be fixed and SVE support should be improved.

[2022-08-31 16:52] abondarev84 commented on #106
I've been trying on graviton3 ec2 instance and it seems like sve is also not being utilized.
from running perf and disassembly, doesn't look like sve is being utilized when building with -DBUILD_SVE=1.
Is this what you're referring to in the "SVE support should be improved" part of your reply?

[2022-08-31 16:56] markos commented on #106
keep in mind that SVE support hass only been added in a couple specific modules as a PoC and not everywhere. I have done multiple tests on qemu and SVE does work there. Most likely SVE detection and enablement is done incorrectly on actual hardware, hence the problems.

[2022-09-03 18:48] markos commented on #112
Fixed in https://github.com/VectorCamp/vectorscan/pull/118

[2022-09-03 18:48] #112 closed

[2022-09-03 18:48] markos commented on #114
This should be fixed in https://github.com/VectorCamp/vectorscan/pull/118

[2022-09-03 18:48] #114 closed

[2022-09-08 17:24] markos commented on #110
Hi, could you please try with latest develop branch on a clean environment? And paste the exact cmake commands?

[2022-09-08 17:28] markos commented on #98
Hi @necuil, we are cleaning up some issues. Regarding Android and 32-bit Arm we have decided we will not support 32-bit arm at this moment and definitely not Android unless the changes are required are minimal and someone else submits a PR for this or funds this effort. Since the request was made already 6 months ago, it's already an old issue. I will be closing this issue as wontfix.

[2022-09-08 17:32] markos commented on #61
@tekkenly we have decided we will not support add support for armv7 and Android to Vectorscan, we would accept PRs that do not break support on other platforms and don't increase maintainance burden, or otherwise we would discuss how this effort could be funded. But for the time being, I'm afraid this will have to be closed as wontfix.

[2022-09-08 17:32] #61 closed

[2022-09-09 10:43] markos commented on #117
Fixed in https://github.com/VectorCamp/vectorscan/pull/121

[2022-09-09 10:43] #117 closed

[2022-09-09 16:39] liquidaty commented on #117
thank you!

[2022-09-12 12:27] rschu1ze opened #122 "New release with recent perf improvements?"
Not really an issue but rather a question. We (ClickHouse) are interested in the latest perf improvements, especially #119 and #118. Both exist currently only in branch `develop`. If they are considered stable enough, it would be great to merge them to `master` or make a new release (not sure what VectorScan's release policy is). I feel a bit uneasy with compiling a `develop` state of vectorscan i

[2022-09-12 13:14] markos commented on #122
Hi @rschu1ze, thanks for the interest! I have just one last PR to get in there and it should be done today if nothing else breaks -I don't expect it to, ftm. After that I will merge from develop to master, and produce a new release -along with a new upload to Debian.

[2022-09-12 13:17] rschu1ze commented on #122
@markos Sounds great, thanks! No hurry, I'll wait.

[2022-09-13 17:23] rschu1ze commented on #122
Thanks, and FYI: vectorscan update to 5.4.8: https://github.com/ClickHouse/ClickHouse/pull/41270

[2022-09-14 05:57] a16bitsysop opened #126 "vectorscan 5.4.8 error: cannot use 'char' with '__vector bool' on alpine ppc64le"
when compiling 5.4.8 with clang 14.0.6 on alpine I get the following error:

[code]
Full log:
https://gitlab.alpinelinux.org/a16bitsysop/aports/-/jobs/839733/raw

If it is patched with:

[code]

It compiles but there are alot of test failures:
https://gitlab.alpinelinux.org/a16bitsysop/aports/-/jobs/839792

[2022-09-14 07:10] markos commented on #126
Hi @a16bitsysop indeed I confirm here that compiling with clang 14 produces numerous tests failing -with the fix. I will have to investigate and will roll out a new release with a fix soon.

[2022-09-14 07:34] a16bitsysop commented on #126
thanks

[2022-09-16 16:05] markos commented on #126
Fixed in https://github.com/VectorCamp/vectorscan/pull/129

[2022-09-16 16:05] #126 closed

[2022-09-19 08:54] ggardet opened #130 "Build fails on x86"
Build fails on 32-bit x86 with:
[code]

[2022-09-19 08:56] markos commented on #130
Hi, 32-bit x86 is not supported by Vectorscan, we do not test or include it in the CI builds, please use Hyperscan instead if you need 32-bit x86.

[2022-09-19 08:56] #130 closed

[2022-09-19 09:50] markos commented on #106
Hi @mddirba, SVE support has just been enabled in recent merged PR #125. Would you mind testing current develop branch on SVE2 hardware, as I'm preparing a new release and it would be best to include any minor fixes for SVE2 now, otherwise it will have to be fixed afterwards.

[2022-09-19 09:52] markos commented on #110
Hi @xiaokang, could you please try with 5.4.8 or recent develop? I cannot reproduce this behaviour on my my system, or at least paste the exact cmake command used?
Otherwise I will have to close this issue. Thanks.

[2022-09-19 18:01] abondarev84 commented on #106
It is missing the fix that was included into the merged pr in the develop branch.

It won't have the additional code that searches for the flags in the auto detected arch flag so the failure is the same as previously I believe.
Just that section alone won't fix it.

[2022-10-13 14:34] abondarev84 opened #133 "different content of build/bin folder on x86 and aarch64"
on an aarch64 system (graviton3 server) the build/bin folder contains the following files
1. benchmarks
2. hscheck
3. simplegrep
4. unit-hyperscan
5. unit-internal

on an x86 system (icelake server) the build/bin folder contains the following files
1. hscheck
2. simplegrep
3. unit-hyperscan

I'd like to compare performance under several scenarios on both systems.

is this intended behavior? I can

[2022-10-13 14:40] markos commented on #133
both benchmarks and unit-internal are not built for fat runtimes -which is the default on x86. If you disable (-DFAT_RUNTIME=off) when running cmake, these binaries should be built just as on aarch64.

[2022-10-14 19:52] abondarev84 commented on #133
shouldn't default behavior produce "equal" (or at the very least similar)
results in terms of outcome?

On Thu, Oct 13, 2022 at 5:42 PM Konstantinos Margaritis <
***@***.***> wrote:

--
*Bondarev Alex*

[2022-10-14 20:00] markos commented on #133
no, FAT_RUNTIME is not available in aarch64 yet. And both benchmarks and unit tests cannot run on a fat library, it makes no sense. the microbenchmarks tool is for finetuning only. As for unit tests, the symbols are different, fat runtime mangles the function names in the library so that all 3 versions of the same function can coexist. Which function will the unit test then? It would have to be si

[2022-10-14 20:00] #133 closed

[2022-10-20 09:40] rschu1ze opened #134 "assume_aligned vs. std::assume_aligned"
Vectorscan uses a macro `assume_aligned(x, y)` in a few places (see files "src/util/simd_utils.h", "src/util/supervector/supervector.hpp") which maps to `__builtin_assume_aligned()` on systems which support that.

We (ClickHouse) use vectorscan as a third-party library. I currently try to upgrade our (LLVM) libcxx (= the C++ standard library) from 14 to 15. Libcxx 15 provides an implementation of

[2022-10-20 09:45] markos commented on #134
Hi, if prefixing is the only thing needed, I would be more than happy to do that change in time for the 5.4.9 release this weekend.  Unfortunately raising the standard to c++20 is going to take a lot more thought as there probably are a few things that will need fixing with that change.

[2022-10-20 10:00] rschu1ze commented on #134
No hurry. Prefixing is just fine. I agree that C++20 is too new to force it on everyone.

[2022-10-31 07:21] iavjkaede opened #135 "HS_FLAG_UTF8 flag doesn't seem to work as expected on aarch64 platforms"
Here are my test result on aarch64
---
pattern: `星{2}`
scan text: `星星点灯`
flags: `HS_FLAG_UTF8 | HS_FLAG_SINGLEMATCH`
**expect: `matched`**
**actual:  `unmatched`**

*on linux x86_64 platform this works fine*

---

## env

- vectorscan 5.4.8
- gcc 9.5.0
- ragel 6.10
- boost 1.67.0
- Linux hostname-PC 4.19.0-arm64-desktop #5214 SMP Tue Sep 6 16:40:43 CST 2022 aarch64 GNU/Linux

##  test code
[code]

[2022-11-01 11:44] markos commented on #135
I confirm this. I was able to replicate it on my arm system and even on latest develop branch.

[2022-11-01 15:42] markos commented on #134
@rschu1ze could you please test current develop and confirm that it works with clang 15?

[2022-11-01 18:14] usmannisar commented on #135
Can you check if compiling it with the `-fsigned-char` flag works? The C standard doesn't specify the signedness of char. On x86 char is signed by default while on Arm it is unsigned by default. Compiling with `-fsigned-char` will force char to be signed on Arm

[2022-11-02 03:20] iavjkaede commented on #135
thank you for your suggestion.
I recompiled with `-fsigned-char`  flag and now it works. thanks.
@markos  Should it be compiled with the `-fsigned-char` flag by default on aarch64 platforms?

[2022-11-02 08:18] rschu1ze commented on #134
@markos I can confirm that your fix resolves the clash, thanks. (waiting for another release now 😉)

[2022-11-02 10:55] markos commented on #135
It's probably a revisit of https://github.com/VectorCamp/vectorscan/issues/98. Reopening that and I will try to do a proper fix and replace char with explicit int8_t/uint8_t where appropriate.

[2022-11-10 18:40] Z3dKay opened #137 "Installation"
Hi, I know this isn't the place to write about this but I'm struggling to understand how to install vectorscan. Does it require hyperscan to be installed or is it standalone?
Also I don't want to cross-compile as I'm trying to install it directly on my Raspberry Pi 4 with DietPi OS (Debian-based) x64 ARMv8 Bullseye. How should I go about configuring _cmake/setenv-arm64-cross.sh_ as mentioned in RE

[2022-11-10 18:57] markos commented on #137
Hi @Z3dKay. Vectorscan is meant to be a drop-in replacement for hyperscan. It is already packaged for Debian, but it's not yet migrated to testing: https://tracker.debian.org/pkg/vectorscan

You could just grab the debian packages and install on your arm64 system with no problems. I hope I helped.

[2022-11-10 19:36] Z3dKay commented on #137
![image](https://user-images.githubusercontent.com/94125880/201189835-a4e8e114-3c4a-4bf8-ac2d-70ac0840a74b.png)

So only the last 2 instructions apply to me?

[2022-11-10 19:46] markos commented on #137
it's in the plans to send bug reports to Debian snort packages to allow enabling vectorscan on Arm instead of hyperscan.
If you want to build from source on the Pi, there is no cross-compiling involved -and the instructions are old incorrect unfortulately, apologies for that. So to build ON the Pi you only have to do the following:

(inside vectorscan directory)```

mkdir build
cd build
cmake -DCM

[2022-11-10 20:03] Z3dKay commented on #137
Thank you so much for the help, much appreciated. That is all for now, onto installing snort 3. Will see if it works.

[2022-11-16 03:59] #137 closed

[2022-11-16 22:10] mistydemeo opened #138 "Vectorscan 5.4.9 reports its version as 5.4.8"
It looks like the version constants in `CMakeLists.txt` weren't updated for release 5.4.9, so `hs_version()` returns `5.4.8`. https://github.com/VectorCamp/vectorscan/blob/master/CMakeLists.txt#L5-L7

[2022-11-17 13:59] markos commented on #138
sorry about that, please ignore it, it was a wrong tag, 5.4.9 has not been released yet, when it is it will be in the releases page as usual. Accidental tag has been removed.

[2022-11-17 13:59] #138 closed